html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;

    background-image:
    linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url('../img/backgroundhomepage.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ================= HEADER ================= */

header{
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
     
}
.navigation{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    animation: fadeup 0.8s ease forwards;
}
.airplane{
    width: 16%;
    margin: 0px;
    position: relative;
    animation: airplaneLoop 8s linear infinite;
}
 
@keyframes airplaneLoop {
    0% {
        transform: translateX(0) scaleX(1)  ;
    }

    49% {
        transform: translateX(300px) scaleX(1) rotate(-8deg);
    }

    50% {
        transform: translateX(300px) scaleX(-1)rotate(8deg);
    }

    99% {
        transform: translateX(0) scaleX(-1)rotate(-14deg);
    }

    100% {
        transform: translateX(0) scaleX(1)rotate(8deg);
    }
}
ol{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 0.95rem;
    padding: 8px;
    position: relative;
    transition: 0.4s ease;
}

a:hover{
    color: #615757;
}

a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;

    background-color: white;

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.4s ease;
}

a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/* =========== ANIMATION KEYFRAMES FOR ALL=========== */
@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* ================= MAIN CONTAINER ================= */

.outer-container{
    min-height: calc(100vh - 80px);

    display: flex;
    align-items: center;

    padding: 5vw;
    box-sizing: border-box;

 
     
     
}
 
.inside-container{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    flex-wrap: wrap;
}

/* ================= LEFT SECTION ================= */

.left-side{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    flex: 1;
    min-width: 300px;

    animation: fadeup 1s ease forwards;
}

.leftLine{
    width: 4px;
    height: clamp(120px, 20vw, 220px);
    background: rgb(213, 224, 118);
    border-radius: 20px;
    transform: translateX(-100%);
    transform: translateY(-10%);
}

.content{
    display: flex;
    flex-direction: column;
}

.text1{
    margin: 0;
    background: linear-gradient(90deg, #0052D4, #4364F7, #6fb1fc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    font-size: clamp(2.5rem, 5vw, 5.5rem);
    line-height: 0.95;

}
.text2{
    color: rgb(212, 10, 10);
}
.text3{
    margin: 0;

    font-size: clamp(2rem, 5vw, 4.8rem);
    line-height: 1;

    color: transparent;
    -webkit-text-stroke: 2px white;
}

/* ================= IMAGE CARD ================= */

.image-container{
    flex: 1;
    min-width: 320px;
    max-width: 700px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);

    border-radius: 20px;

    padding: 3%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 25px;

    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    animation: fadeup 1.2s ease forwards;
}
.image-container:hover{
    transform:translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: rgba(81, 88, 110, 0.98);
   
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;
    width: 100%;
}

.philippineMap{
    width: clamp(200px, 5vw, 350px);
    height: auto;
    border-radius: 20px;
    display: block;
}


.text-content{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
}

h3{
    margin: 0;

    font-family: "Times New Roman", serif;
    font-size: clamp(0.95rem, 1.4vw, 1.3rem);
    font-weight: 500;

    color: #ffffff;
}

/* ================= DESCRIPTION ================= */

.description-content{
    width: 100%;
}

.description{
    margin: 0;

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

    font-size: clamp(0.9rem, 1vw, 1rem);
    line-height: 1.8;

    text-align: justify;
}
.tagline-content{
   color: white;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   max-width: 60%;
}
.tagline-context{
    max-width: 70%;
    
}
article{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    margin: 3%; 

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    transition: 0.3s ease;
}
 
article:hover {
    transform: translateY(-10px);
}
.card {
     
    width: 100%;
    max-width: 350px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
     animation: changeImage 10s infinite,
                fade 10s infinite;
}
.card-text{
    max-width: 29rem; 
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  
}


@keyframes changeImage {
    0% {
        background-image: url('../img/boracay.jpg');
    }
    33% {
        background-image: url('../img/KawasanFalls.jpg');
    }
    66% {
        background-image: url('../img/Baguio.jpg');
    }
    100% {
        background-image: url('../img/palawan.jpg');
    }
}

@keyframes fade {
    0%, 25% {
        opacity: 1;
    }
    30%, 95% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
.footer{
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 2rem;
     
}
footer h3 {
    margin-bottom: .5rem;
    color: #38bdf8;
}
footer p {
    margin: .3rem 0;
}
.feature{
    display: flex;
    color: white;
    margin: 0.5rem 0;
    font-family: sans-serif;
}
 
.feature-content{
    display: flex;
    flex-direction: column;
}
/* ================= TABLET ================= */
 

@media (max-width: 992px){
    
     
     
     article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
     
    
    .airplane{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: center;
    }

     .top-section{
        display: flex ;
        justify-content: center;
        align-items: center;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .inside-container{
        flex-direction: column;
        gap: 2rem;
    }

    .left-side{
        width: 100%;
        justify-content: center;
    }

    .image-container{
        width: 100%;
        max-width: 800px;
    }
}

/* ================= MOBILE ================= */

@media (max-width: 768px){
    .feature-content{
        display: flex ;
    }
     
     
    .card-text{
        transform: translateX(0rem);
     }
    .leftLine{
        display: none;
    }

    .left-side{
        display: flex;
        text-align: center;
        justify-content: center;
        min-width: unset;
    }

    .content{
        width: 100%;
        align-items: center;
    }

    .top-section{
        flex-direction: column;
        text-align: center;
    }

    .text-content{
        align-items: center;
    }

    .philippineMap{
        width: min(100%, 280px);
         margin: 0 auto;
    }

    .image-container{
        min-width: unset;
        width: 100%;
        display: flex;
        justify-content: center;

        
    }

    .description{
        text-align: left;
    }

    ol{
        gap: 5px;
    }

    a{
        font-size: 0.85rem;
    }
}